<body>
	<p>data-stream: <span id="myspan"></span></p>
<script type="text/javascript" src="socket.io.js"></script>
<script>
	var socket = io("http://localhost:12345");

	socket.on('data-stream', function(data) {
		console.log(data.toFixed(2));
		document.getElementById("myspan").textContent = data.toFixed(2);
	});
</script>
</body>